{% for post in posts %}
    <table class="table table-hover">
        <tr>
            <td width="70px">

                <a href="{{ url_for('main.profile', username=post.author.username) }}">

                        <img src="{{ post.author.avatar(70) }}" />

                </a>
            </td>
            <td>
                <a href="{{ url_for('main.profile', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
                said {{ moment(post.date_posted).fromNow() }}:
                <br>
                {{ post.body }}
            </td>
        </tr>
    </table>
{% endfor %}
