{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

    <table class="table table-hover">
        <tr>

                <td width="100px"><img src="{{ user.avatar(100) }}"></td>

            <td>
                <h1>User: {{ user.username }}</h1>
                {% if user.about_me %}
                    <p>{{ user.about_me }}</p>
                {% endif %}
                {% if user.last_seen %}
                    <p>
                        Last seen on: {{ moment(user.last_seen).format('LLL') }}
                    </p>
                {% endif %}
                <p>
                    <a href="{{ url_for('main.user_posts', username=user.username) }}">
                        User posts
                    </a>
                </p>
                <p>
                    {{ user.followers.count() }} followers, {{ user.followed.count() }} following.
                </p>
                {% if user != current_user %}
                    <p>
                        <a href="{{ url_for('main.send_message',
                                            recipient=user.username) }}">
                            {{ 'Send private message' }}
                        </a>
                    </p>
                {% endif %}
                {% if user == current_user %}
                    <p>
                        <a href="{{ url_for('main.edit', username=user.username) }}">
                            Edit your profile
                        </a>
                    </p>
                {% elif current_user.is_following(user) %}
                    <p>
                        <a href="{{ url_for('main.unfollow', username=user.username) }}">
                            Unfollow
                        </a>
                    </p>
                {% elif not current_user.is_following(user) %}
                    <p>
                        <a href="{{ url_for('main.follow', username=user.username) }}">
                            Follow
                        </a>
                    </p>
                {%endif%}
            </td>
        </tr>
    </table>




{% endblock %}
