{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}
{% block app_content %}
    <h1>Sign In</h1>
    <div class="row">
        <div class="col-md-4">
            {{wtf.quick_form(form)}}
            <a href="{{url_for('auth.register')}}">Need an account?</a><br>
            <a href="{{url_for('auth.reset_password_request')}}">Forgot your password?</a>
        </div>
    </div>

{% endblock %}
